@charset "utf-8";

/* Mobile Layout */

.logo {
    height: 8em;
    border-radius: 90%;
}

.logo:hover {
    background-color: #93F;
    transition: background-color .25s ease-in-out;
}

[class*="col-"] {
	width: 100%;
	float: left;
}

body {
    background-color: firebrick;
	overflow: hidden;
}

header {
	background-color: #6CF;
}

nav {
	background-color: #93F;
}

article {
    background-color: blanchedalmond;
}

aside {
    background-color: cadetblue;
    color: white;
}

footer {
	background-color: firebrick;
    color: white;
}

img, object, embed, video {
	max-width: 100%;
}

header, nav {
	height: 9em;
	line-height: 9em;
	text-align: center;
}

nav ul, header a {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

article div {
    min-height: 5em;
}

article div h1, article div p, aside h1, aside p, footer h2, footer p {
    padding: 5px;
    min-height: 2em;
	text-align: center;
}

footer div {
    text-align: center;
}

/* Tablet Layout */

@media only screen and (min-width: 600px) and (orientation: landscape) {	
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
    
    article div h1 {
        text-align: center;
    }
    
    #headerCase {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    #contentCase {
        background-color: cadetblue;
        margin-top: 9em;
    }
}

/* Desktop Layout */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .logo {
        margin-left: 25px;
    }
    
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
    
    header {
		text-align: left;
    }
	
	aside {
		box-shadow: -5px 5px 30px #888888;
	}
    
    article div h1, article div p, footer div {
        text-align: left;
    }
    
    #headerCase {
        position: fixed;
		box-shadow: 0px 0px 15px #888888;
    }
    
    #contentCase {
        padding-bottom: 9em;
		background-color: blanchedalmond;
    }
}