@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Mobile Layout */
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
}

[class*="col-"] {
	width: 100%;
	float: left;
}

header {
	background-color: #6CF;
}

nav {
	background-color: #93F;
}

article {
}

aside {
}

footer {
}

header, nav {
	height: 6em;
	line-height: 6em;
	text-align: center;
}

nav ul, header a {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

/* Tablet Layout */

@media only screen and (min-width: 600px) and (orientation: landscape) {
	.gridContainer {
		width: 91.14%;
		padding-left: 0.93%;
		padding-right: 0.93%;
	}
	
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* Desktop Layout */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
	.gridContainer {
		width: 88.5%;
		max-width: 1232px;
		padding-left: 0.75%;
		padding-right: 0.75%;
		margin: auto;
	}
	
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	header {
		text-align: left;
	}
}